<!DOCTYPE html>
<html lang="en" ng-app="moviesApp">
  <head>
    <meta charset="utf-8">
    <title>Progetto IA</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css">    
    <link type="text/css" rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/">
            <div class="brand">Progetto IA - Sistema di Suggerimento Film</div>
          </a>
        </div>
        <p class="navbar-text navbar-right" ng-if="user != null">Autenticato come {{user.name}} | <a ng-click="logout()" href="#">Logout</a></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3" ng-if="user">
          <ul class="nav nav-pills nav-stacked">
            <li ng-class="{active: location.path()=='/'}"><a href="#/">Raccomandazioni</a></li>
            <li ng-class="{active: location.path()=='/friends'}"><a href="#/friends">Amici</a></li>
            <li ng-class="{active: location.path()=='/movies'}"><a href="#/movies">Film</a></li>
          </ul>
        </div>

        <div ng-view></div>
      </div>
    </div>

    <script src="components/jquery/dist/jquery.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="components/angularjs/angular.js"></script>
    <script src="components/angular-route/angular-route.js"></script>
    <script src="components/angular-cookies/angular-cookies.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
  </body>
</html>