<div class="col-sm-9">
  <h3>My Friends</h3>
  <alert ng-if="friends == null || friends.length == 0" type="info">Non hai ancora amici.</alert>
  <ul>
    <li ng-repeat="friend in friends">{{friend.name}} <a ng-click="removeFriend(friend)" href>Rimuovi</a></li>
  </ul>

  <h3>Aggiungi Amico</h3>
  <div class="input-group">
    <input type="text" ng-change="searchFriends()" ng-model="friendSearchName" class="form-control"></input><div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
  </div>
  <div class="list-group">
    <a ng-repeat="friend in friendsearch" class="list-group-item" ng-click="addFriend(friend)" href>{{friend.name}}</a>
  </div>
</div>