<div class="col-sm-6 col-sm-offset-3">
  <form ng-submit="login()" class="well">
    <div class="form-group">
      <h3>Pagina di Login</h3>

      <p>Selezionare un Username, se non è ancora stato inserito, verrà creato nuovo al momento.</p> 
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="username" required=""> 
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Entra</button>
    </div>
  </form>
</div>