<div class="col-sm-9">
  <h3>Raccomandazioni basate sui miei Voti <button class="btn btn-default" ng-click="getSimilarMovies()"><span class="glyphicon glyphicon-refresh"></span></button></h3>

  <alert ng-if="similarMovies == null || similarMovies.length == 0" type="info">Votare dei Film per ricevere raccomandazioni.</alert>
  <div movielist movies="similarMovies"></div>


  <h3>Raccomandazioni basate sui miei Amici <button class="btn btn-default" ng-click="getFriendsMovies()"><span class="glyphicon glyphicon-refresh"></span></button></h3>

  <alert ng-if="friendsMovies == null || friendsMovies.length == 0" type="info">Aggiungere amici per ricevere raccomandazioni</alert>
  <div movielist movies="friendsMovies"></div>
</div>
